<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit Blog</h1>
<p>
    <a href="/blogs">
        Blog list
    </a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>


<form th:action="@{/update-blog}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>

        <tr>
            <td>Content: </td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>

                <tr>
                    <td>Category:</td>
                    <td>
                        <select th:field="*{category}">
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"
                            th:selected="(${cat.id} ==*{category.id})"></option>
                        </select>
                    </td>
                </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>

</form>

</body>
</html>