<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>

<div layout:fragment="content">
    <h1> <span th:text="${category.get().name}"></span></h1>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Note Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="view-cate" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Content</th>

                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="nt :${notes}">
                                <tr>
                                    <td th:text="${nt.id}"></td>
                                    <td th:text="${nt.tilte}"></td>
                                    <td th:text="${nt.content}"></td>

                                </tr>
                            </th:block>
                            </tbody>

                        </table>

                        <br>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

</div>
</body>
</html>