<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers List</h1>

<form>
    Search by first name: <input name="search" type="text">
    <input type="submit" th:value="Search"/>
</form>
<br>
<br>
<table border="1">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Province</th>
    </tr>

    <th:block th:each="cust :${customers}">
        <tr>
            <td th:text="${cust.id}"></td>
            <td th:text="${cust.firstName}"></td>
            <td th:text="${cust.lastName}"></td>
            <td>
                <a th:text="${cust.province.name}" th:href="@{/view-province/__${cust.province.id}__ }"></a>
            </td>

            <td><a th:href="@{/edit-customer/__${cust.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${cust.id}__ }">Delete</a></td>

        </tr>
    </th:block>

</table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>